达芬奇17学习文档/DaVinci_Resolve_17_Reference_Manual.pdf filter=lfs diff=lfs merge=lfs -text
达芬奇18参考手册中文版/DaVinci_Resolve_18_Reference_Manual.pdf filter=lfs diff=lfs merge=lfs -text
达芬奇18参考手册中文版/达芬奇18参考手册中文版_谷歌翻译_完整版本.pdf filter=lfs diff=lfs merge=lfs -text
